* {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

body {
	max-width: 1200px;
	margin: 0 auto;
}

.container {
	margin: 0 auto;

	max-width: 1011px;

}
.link__about{
	text-decoration: none;
	color:white;

}

.logo {
	margin: 41px 0 0 40px;
}

.header {
	background-repeat: no-repeat;
	position: relative;
	max-width: 1011px;
	background-image: url(../img/Layer\ 13.png);
}

.nav {

	display: flex;
	justify-content: space-around;
}

.header__nav {
	margin-top: 70px;
	text-transform: uppercase;
	list-style: none;
	display: flex;
}


li {
	height: 37px;
	text-decoration: none;
	color: white;
	border: 1px solid transparent;
	padding: 9px 15px;
	border-radius: 10px;

}

li:hover {
	border-color: black;
	background-color: black;

}

.head__home {
	padding-bottom: 90px;
	text-align: center;
	max-width: 400px;
	text-transform: uppercase;
	margin-top: 130px;
	margin-left: 60px;

}

.sell__your {
	font-size: 70px;
	color: #130e27;
}

.car__now {
	font-size: 70px;
	color: white;
}

.text {
	margin-top: 40px;
	color: white;
}

.container__menu {
	padding-bottom: 70px;
	background-color: #efefef;
}

.menu__text {
	display: flex;
	margin: 0px 0px 0px 60px;
	font-size: 50px;
}

.text__services {
	margin-left: 30px;
	color: #130e27;

}

.text__our {
	color: red;
}

.container__tools {
	justify-content: space-around;
	display: flex;

}

.one__icon {
	max-height: 150px;
	content: url(../img/Shape\ 108.png)
}

.two__icon {
	max-height: 150px;
	content: url(../img/Shape\ 127.png)
}

.three__icon {
	margin-left: 20px;
	max-height: 135px;
	content: url(../img/Shape\ 106.png);
}

.four__icon {
	max-height: 135px;
	content: url(../img/Shape\ 97.png);
}

.one__text {
	margin-top: 26px;
	margin-left: 10px;
	text-align: center;
	max-width: 150px;
}

.two__text {
	margin-top: 30px;
	text-align: center;
	max-width: 150px;
}

.three__text {
	margin-top: 30px;
	text-align: center;
	max-width: 150px;
}

.four__text {
	margin-top: 30px;
	text-align: center;
	max-width: 150px;
}

.container__story {
	display: flex;
	margin: 0 auto;
	height: 130px;
	background-color: #130e27;
}

.story__text {

	max-width: 608px;
	align-items: center;
	display: block;
	color: white;
	margin-left: 60px;
	margin-top: 30px;
}

.link__story {
	margin-top: 20px;
	padding: 16px 25px;
	text-decoration: none;
	color: white;
}

.story__link {
	padding-top: 10px;
	text-decoration: none;
	background-color: red;
	border: 1px solid transparent;
	margin-left: 120px;
	margin-top: 40px;
	height: 40px;

	border-radius: 10px;

}

.story__link:hover {
	background-color: #d90000;

	border: 1px solid transparent;



}

.container__pricing {
	position: absolute;
	min-width: 1011px;
	margin: 0 auto;
	background-color: #efefef;

}

.pricing__pr {
	font-size: 45px;
	margin-top: 50px;
	text-align: center;
	display: block;

}

.pricing__price {
	text-align: center;
	justify-content: space-around;
	display: flex;
	margin-top: 36px;
	background-color: #efefef;
}

.pricing__one {
	background-color: white;
	padding: 10px 50px;
	-webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);

}

.pricing__two {
	background-color: white;
	padding: 10px 50px;
	-webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);

}

.pricing__three {
	background-color: white;
	padding: 10px 50px;
	-webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);

}

.pricing__many {
	font-size: 45px;
	color: red;
}

.pricing__name {
	font-size: 25px;
}

.pricing__options {
	line-height: 1px;
}

.button__link {
	margin-top: 5px;
	appearance: none;
	border: 0;
	border-radius: 5px;
	background: #4676D7;
	color: #fff;
	padding: 8px 16px;
	font-size: 16px;

}

.button__link:hover {
	background: #1d49aa;
}

.button__link:focus {
	outline: none;
	box-shadow: 0 0 0 4px #cbd6ee;
}

.button__link1 {
	padding: 8px 35px;
}

.container__footer {
	justify-content: space-between;
	padding-bottom: 40px;
	display: flex;
	background-color: #130e27;
	max-height: 200px;
	margin-top: 60px;


}

.footer__text {
	margin-left: 40px;
	display: block;
	color: white;
	margin-top: 50px;
}

.footer__red {
	color: red;
}

.footer__logo {
	margin-top: 15px;

	content: url('../img/Logo\ copy.png');
}
